{% extends './layout.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}add student{% endblock %}
{% block content %}

<!--############ BREAD CRUMBS SECTION ########### -->
<!-- ============================= ADDING MODULES @@@@@@@@@@@@@@@@@@@-->
<!--############ BREAD CRUMBS SECTION ########### -->
{% if messages %}
<div class="row row100">
  <div class="col-md-12">
    <div class="inner">
      <ul class="breadcrumb">
        {% for m in messages %}
        <li class="breadcrumb-item"><a href="#">{{m}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% else %}
<div class="row row100">
  <div class="col-md-12">
    <div class="inner">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Add Student</a></li>
      </ul>
    </div>
  </div>
</div>
{% endif %}

<!--########## COURSES AND MODULES -->
<div class="two_forms">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="row">
          <!-- <div class="col-md-3">
             <div class="module">
               <h6>Add Module</h6>
               <form class="" action="{% url 'add_module' %}" method="post">
                 <div class="form-group create_module">
                   {% csrf_token %}
                   {{ create_module_form|crispy }}
                 </div>
                 <div class="form-group">
                   <button type="submi" class="btn btn-sm btn-warning" name="button">Create Module</button>
                 </div>
               </form>
             </div>
          </div> -->

          <div class="col-md-6">

            <div class="college">
              <h6>Add College</h6>
              <form class="" action="{% url 'add_college' %}" method="post">
                <div class="form-group create_college">
                  {% csrf_token %}
                    {{ create_college_form|crispy }}
                </div>
                <div class="form-group">
                  <button type="submi" class="btn btn-sm btn-dark" name="button">Add College</button>
                </div>
              </form>
            </div>

            <div class="student">
              <h6>Add Student</h6>
              <form class="" action="{% url 'add_student' %}" method="post">
                <div class="form-group create_student ">
                  {% csrf_token %}
                    {{ create_student_form|crispy }}
                </div>

                <div class="form-group btn_grp">
                  <button type="submi" class="btn btn-sm btn-dark" name="button">Add Student</button>
                </div>
              </form>
            </div>
          </div>

          <div class="col-md-3">
            <div class="course">
              <h6>Add Course</h6>
              <form class="" action="{% url 'add_course' %}" method="post">
                <div class="form-group create_course">
                  {% csrf_token %}
                  {{ create_course_form|crispy }}
                </div>
                <div class="form-group">
                  <button type="submi" class="btn btn-sm btn-primary" name="button">Create Course</button>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
