<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'styles/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <title>SRM | {% block title %}{% endblock %}</title>
  </head>
  <body>

     <div class="content1">
       <div class="container">

         <div class="row">
           <div class="col-md-4 offset-md-4">
             <div class="alert_inner">
               {% block message %}

               {% endblock %}
             </div>
           </div>
         </div>

         <div class="row">
           <div class="col-md-4 offset-md-4 col4">
             <div class="inner">
               {% block content %}{% endblock %}
             </div>
           </div>
         </div>

       </div>
     </div>

    <script src="{% static 'script/jquery.js' %}"></script>
    <script src="{% static 'script/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'script/script.js' %}"></script>
  </body>
</html>
