{% extends './base.html' %}
{% load crispy_forms_tags %}

{% load static %}
{% block title %}authentication{% endblock %}

{% block content %}
  <form class="" action="{% url 'auth' %}" method="post" autocomplete="off">
    <div class="form-group">
      {% csrf_token %}
      {{ forms|crispy }}
    </div>
    <div class="form-group form_group2">
      <button type="submit" class="btn btn-success btn-sm" name="submit">ConfirmResetPassword</button>
    </div>
  </form>
  <div class="links d-flex">
  </div>
{% endblock %}
