{% extends './base.html' %}
{% load crispy_forms_tags %}

{% load static %}
{% block title %}resetPassword{% endblock %}

{% block content %}
  <form class="" action="{% url 'password_reset' %}" method="post" autocomplete="off">
    <div class="form-group">
      {% csrf_token %}
      {{ form|crispy }}
    </div>
    <div class="form-group form_group2">
      <button type="submit" class="btn btn-success btn-sm" name="submit">resetPassword</button>
    </div>
  </form>
  <!-- <div class="links d-flex">
    <p><a href="{% url 'register' %}">Create an Account!</a></p>&nbsp;&nbsp;/&nbsp;&nbsp;
    <p><a href="{% url 'auth' %}">Forget Password ?</a></p>
  </div> -->
{% endblock %}
